openapi: 3.1.1
info:
  title: Gitee Open API
  version: 5.4.86
servers:
  - url: https://gitee.com/api
  - url: http://gitee.com/api
tags:
  - name: Checks
    description: Operations about Checks
  - name: Repositories
    description: Operations about Repositories
  - name: Issues
    description: Operations about Issues
  - name: Git Data
    description: Operations about Git Data
  - name: Labels
    description: Operations about Labels
  - name: Milestones
    description: Operations about Milestones
  - name: Miscellaneous
    description: Operations about Miscellaneous
  - name: Pull Requests
    description: Operations about Pull Requests
  - name: Webhooks
    description: Operations about Webhooks
  - name: Activity
    description: Operations about Activities
  - name: Users
    description: Operations about Users
  - name: Organizations
    description: Operations about Organizations
  - name: Enterprises
    description: Operations about Enterprises
  - name: Gists
    description: Operations about Gists
  - name: Search
    description: Operations about Searches
  - name: Emails
    description: Operations about Emails
paths:
  /v5/repos/{owner}/{repo}/check-runs:
    post:
      tags:
        - Checks
      summary: 创建检查项
      description: 创建检查项
      operationId: postV5ReposOwnerRepoCheckRuns
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - "actions[description]"
                - "actions[identifier]"
                - "actions[label]"
                - head_sha
                - name
                - "output[annotations][annotation_level]"
                - "output[annotations][end_line]"
                - "output[annotations][message]"
                - "output[annotations][path]"
                - "output[annotations][start_line]"
                - "output[images][alt]"
                - "output[images][image_url]"
                - "output[summary]"
                - "output[title]"
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
                pull_request_id:
                  type: integer
                  description: PullRequest ID
                  format: int32
                details_url:
                  type: string
                  description: 详情链接
                status:
                  type: string
                  description: 状态
                  default: queued
                  enum:
                    - queued
                    - in_progress
                    - completed
                started_at:
                  type: string
                  description: 开始时间
                  format: date-time
                conclusion:
                  type: string
                  description: 结论
                  enum:
                    - neutral
                    - success
                    - failure
                    - cancelled
                    - action_required
                    - timed_out
                    - skipped
                completed_at:
                  type: string
                  description: 完成时间
                  format: date-time
                output[title]:
                  type: string
                  description: 标题
                output[summary]:
                  type: string
                  description: 概论
                output[text]:
                  type: string
                  description: 详细信息
                output[annotations][path]:
                  type: array
                  description: 路径
                  items:
                    type: string
                output[annotations][start_line]:
                  type: array
                  description: 开始行
                  items:
                    type: integer
                    format: int32
                output[annotations][end_line]:
                  type: array
                  description: 结束行
                  items:
                    type: integer
                    format: int32
                output[annotations][start_column]:
                  type: array
                  description: 开始列
                  items:
                    type: integer
                    format: int32
                output[annotations][end_column]:
                  type: array
                  description: 结束列
                  items:
                    type: integer
                    format: int32
                output[annotations][annotation_level]:
                  type: array
                  description: 注释级别
                  items:
                    type: string
                  enum:
                    - notice
                    - warning
                    - failure
                output[annotations][message]:
                  type: array
                  description: 注释信息
                  items:
                    type: string
                output[annotations][title]:
                  type: array
                  description: 标题
                  items:
                    type: string
                output[annotations][raw_details]:
                  type: array
                  description: 详情内容
                  items:
                    type: string
                output[images][alt]:
                  type: array
                  description: 注释
                  items:
                    type: string
                output[images][image_url]:
                  type: array
                  description: URL
                  items:
                    type: string
                output[images][caption]:
                  type: array
                  description: 描述
                  items:
                    type: string
                actions[label]:
                  type: array
                  description: 文本
                  items:
                    type: string
                actions[description]:
                  type: array
                  description: 描述
                  items:
                    type: string
                actions[identifier]:
                  type: array
                  description: 标识
                  items:
                    type: string
                name:
                  type: string
                  description: 名字
                head_sha:
                  type: string
                  description: 提交的 sha 值（必须是完整的）
        required: true
      responses:
        "201":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckRun"
  /v5/repos/{owner}/{repo}/check-runs/{check_run_id}:
    get:
      tags:
        - Checks
      summary: 获取检查项详情
      description: 获取检查项详情
      operationId: getV5ReposOwnerRepoCheckRunsCheckRunId
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: check_run_id
          in: path
          description: 检查项 ID
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckRun"
    patch:
      tags:
        - Checks
      summary: 更新检查项
      description: 更新检查项
      operationId: patchV5ReposOwnerRepoCheckRunsCheckRunId
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: check_run_id
          in: path
          description: 检查项 ID
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - "actions[description]"
                - "actions[identifier]"
                - "actions[label]"
                - "output[annotations][annotation_level]"
                - "output[annotations][end_line]"
                - "output[annotations][message]"
                - "output[annotations][path]"
                - "output[annotations][start_line]"
                - "output[images][alt]"
                - "output[images][image_url]"
                - "output[summary]"
                - "output[title]"
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
                pull_request_id:
                  type: integer
                  description: 关联 pull_request 的 ID
                  format: int32
                details_url:
                  type: string
                  description: 详情链接
                status:
                  type: string
                  description: 状态
                  default: queued
                  enum:
                    - queued
                    - in_progress
                    - completed
                started_at:
                  type: string
                  description: 开始时间
                  format: date-time
                conclusion:
                  type: string
                  description: 结论
                  enum:
                    - neutral
                    - success
                    - failure
                    - cancelled
                    - action_required
                    - timed_out
                    - skipped
                completed_at:
                  type: string
                  description: 完成时间
                  format: date-time
                output[title]:
                  type: string
                  description: 标题
                output[summary]:
                  type: string
                  description: 概论
                output[text]:
                  type: string
                  description: 详细信息
                output[annotations][path]:
                  type: array
                  description: 路径
                  items:
                    type: string
                output[annotations][start_line]:
                  type: array
                  description: 开始行
                  items:
                    type: integer
                    format: int32
                output[annotations][end_line]:
                  type: array
                  description: 结束行
                  items:
                    type: integer
                    format: int32
                output[annotations][start_column]:
                  type: array
                  description: 开始列
                  items:
                    type: integer
                    format: int32
                output[annotations][end_column]:
                  type: array
                  description: 结束列
                  items:
                    type: integer
                    format: int32
                output[annotations][annotation_level]:
                  type: array
                  description: 注释级别
                  items:
                    type: string
                  enum:
                    - notice
                    - warning
                    - failure
                output[annotations][message]:
                  type: array
                  description: 注释信息
                  items:
                    type: string
                output[annotations][title]:
                  type: array
                  description: 标题
                  items:
                    type: string
                output[annotations][raw_details]:
                  type: array
                  description: 详情内容
                  items:
                    type: string
                output[images][alt]:
                  type: array
                  description: 注释
                  items:
                    type: string
                output[images][image_url]:
                  type: array
                  description: URL
                  items:
                    type: string
                output[images][caption]:
                  type: array
                  description: 描述
                  items:
                    type: string
                actions[label]:
                  type: array
                  description: 文本
                  items:
                    type: string
                actions[description]:
                  type: array
                  description: 描述
                  items:
                    type: string
                actions[identifier]:
                  type: array
                  description: 标识
                  items:
                    type: string
                name:
                  type: string
                  description: 名字
        required: true
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckRun"
  /v5/repos/{owner}/{repo}/check-runs/{check_run_id}/annotations:
    get:
      tags:
        - Checks
      summary: 获取检查项代码注释
      description: 获取检查项代码注释
      operationId: getV5ReposOwnerRepoCheckRunsCheckRunIdAnnotations
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: check_run_id
          in: path
          description: 检查项 ID
          required: true
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: 当前的页码
          schema:
            type: integer
            format: int32
            default: 1
        - name: per_page
          in: query
          description: 每页的数量，最大为 100
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 20
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckAnnotation"
  /v5/repos/{owner}/{repo}/commits/{ref}/check-runs:
    get:
      tags:
        - Checks
      summary: 获取某个提交的检查项
      description: 获取某个提交的检查项
      operationId: getV5ReposOwnerRepoCommitsRefCheckRuns
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: 当前的页码
          schema:
            type: integer
            format: int32
            default: 1
        - name: per_page
          in: query
          description: 每页的数量，最大为 100
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 20
        - name: ref
          in: path
          description: 分支名\标签名\sha 值
          required: true
          schema:
            type: string
        - name: pull_request_id
          in: query
          description: 关联 pull request 的 ID
          schema:
            type: integer
            format: int32
            default: 0
        - name: check_name
          in: query
          description: 检查项名称
          schema:
            type: string
        - name: status
          in: query
          description: 检查项状态
          schema:
            type: string
            enum:
              - expected
              - queued
              - in_progress
              - completed
        - name: filter
          in: query
          description: 最新的\全部
          schema:
            type: string
            default: latest
            enum:
              - all
              - latest
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckRun"
  /v5/repos/{owner}/{repo}/branches:
    get:
      tags:
        - Repositories
      summary: 获取所有分支
      description: 获取所有分支
      operationId: getV5ReposOwnerRepoBranches
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: sort
          in: query
          description: 排序字段
          schema:
            type: string
            default: name
            enum:
              - name
              - updated
        - name: direction
          in: query
          description: 排序方向
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
        - name: page
          in: query
          description: 当前的页码
          schema:
            type: integer
            format: int32
            default: 1
        - name: per_page
          in: query
          description: 每页的数量，最大为 100
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Branch"
    post:
      tags:
        - Repositories
      summary: 创建分支
      description: 创建分支
      operationId: postV5ReposOwnerRepoBranches
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - branch_name
                - refs
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
                refs:
                  type: string
                  description: 起点名称，默认：master
                  default: master
                branch_name:
                  type: string
                  description: 新创建的分支名称
        required: true
      responses:
        "201":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompleteBranch"
  /v5/repos/{owner}/{repo}/branches/{branch}:
    get:
      tags:
        - Repositories
      summary: 获取单个分支
      description: 获取单个分支
      operationId: getV5ReposOwnerRepoBranchesBranch
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: branch
          in: path
          description: 分支名称
          required: true
          schema:
            type: string
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompleteBranch"
  /v5/repos/{owner}/{repo}/branches/{branch}/protection:
    put:
      tags:
        - Repositories
      summary: 设置分支保护
      description: 设置分支保护
      operationId: putV5ReposOwnerRepoBranchesBranchProtection
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: branch
          in: path
          description: 分支名称
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompleteBranch"
    delete:
      tags:
        - Repositories
      summary: 取消保护分支的设置
      description: 取消保护分支的设置
      operationId: deleteV5ReposOwnerRepoBranchesBranchProtection
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: branch
          in: path
          description: 分支名称
          required: true
          schema:
            type: string
      responses:
        "204":
          description: 取消保护分支的设置
          content: {}
  /v5/repos/{owner}/{repo}/branches/{wildcard}/setting:
    put:
      tags:
        - Repositories
      summary: 更新保护分支规则
      description: 更新保护分支规则
      operationId: putV5ReposOwnerRepoBranchesWildcardSetting
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: wildcard
          in: path
          description: 分支/通配符
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - merger
                - mode
                - pusher
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
                new_wildcard:
                  type: string
                  description: 新分支/通配符 (为空不修改)
                pusher:
                  type: string
                  description: 可推送代码成员。developer：仓库管理员和开发者；admin：仓库管理员；none：禁止任何人合并;
                    用户：个人的地址 path（多个用户用 ';' 隔开）
                  default: admin
                merger:
                  type: string
                  description: 可合并 Pull Request 成员。developer：仓库管理员和开发者；admin：仓库管理员；none：禁止任何人合并;
                    用户：个人的地址 path（多个用户用 ';' 隔开）
                  default: admin
                mode:
                  type: string
                  description: "模式。standard: 标准模式，review: 评审模式"
                  default: standard
                  enum:
                    - standard
                    - review
                escapse_protect_branch_list:
                  type: array
                  description: "不受规则影响的分支列表，以英文逗号分隔，形如：['a', 'b']"
                  items:
                    type: string
        required: true
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProtectionRule"
    delete:
      tags:
        - Repositories
      summary: 删除保护分支规则
      description: 删除保护分支规则
      operationId: deleteV5ReposOwnerRepoBranchesWildcardSetting
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: wildcard
          in: path
          description: 分支/通配符
          required: true
          schema:
            type: string
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProtectionRule"
  /v5/repos/{owner}/{repo}/branches/setting/new:
    put:
      tags:
        - Repositories
      summary: 新建保护分支规则
      description: 新建保护分支规则
      operationId: putV5ReposOwnerRepoBranchesSettingNew
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - merger
                - mode
                - pusher
                - wildcard
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
                wildcard:
                  type: string
                  description: 分支/通配符
                pusher:
                  type: string
                  description: 可推送代码成员。developer：仓库管理员和开发者；admin：仓库管理员；none：禁止任何人合并;
                    用户：个人的地址 path（多个用户用 ';' 隔开）
                  default: admin
                merger:
                  type: string
                  description: 可合并 Pull Request 成员。developer：仓库管理员和开发者；admin：仓库管理员；none：禁止任何人合并;
                    用户：个人的地址 path（多个用户用 ';' 隔开）
                  default: admin
                mode:
                  type: string
                  description: "模式。standard: 标准模式，review: 评审模式"
                  default: standard
                  enum:
                    - standard
                    - review
                escapse_protect_branch_list:
                  type: array
                  description: "不受规则影响的分支列表，以英文逗号分隔，形如：['a', 'b']"
                  items:
                    type: string
        required: true
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProtectionRule"
  /v5/repos/{owner}/{repo}/tags:
    get:
      tags:
        - Repositories
      summary: 列出仓库所有的 tags
      description: 列出仓库所有的 tags
      operationId: getV5ReposOwnerRepoTags
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: sort
          in: query
          description: 排序字段
          schema:
            type: string
            default: name
            enum:
              - name
              - updated
        - name: direction
          in: query
          description: 排序方向
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
        - name: page
          in: query
          description: 当前的页码
          schema:
            type: integer
            format: int32
            default: 1
        - name: per_page
          in: query
          description: 每页的数量，最大为 100
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Tag"
    post:
      tags:
        - Repositories
      summary: 创建一个仓库的 Tag
      description: 创建一个仓库的 Tag
      operationId: postV5ReposOwnerRepoTags
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - refs
                - tag_name
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
                refs:
                  type: string
                  description: 起点名称，默认：master
                  default: master
                tag_name:
                  type: string
                  description: 新创建的标签名称
                tag_message:
                  type: string
                  description: Tag 描述，默认为空
        required: true
      responses:
        "201":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tag"
  /v5/repos/{owner}/{repo}/comments:
    get:
      tags:
        - Repositories
      summary: 获取仓库的 Commit 评论
      description: 获取仓库的 Commit 评论
      operationId: getV5ReposOwnerRepoComments
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: 当前的页码
          schema:
            type: integer
            format: int32
            default: 1
        - name: per_page
          in: query
          description: 每页的数量，最大为 100
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 20
        - name: order
          in: query
          description: "排序顺序：asc(default),desc"
          schema:
            type: string
            default: asc
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Note"
  /v5/repos/{owner}/{repo}/commits/{ref}/comments:
    get:
      tags:
        - Repositories
      summary: 获取单个 Commit 的评论
      description: 获取单个 Commit 的评论
      operationId: getV5ReposOwnerRepoCommitsRefComments
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: ref
          in: path
          description: Commit 的 Reference
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: 当前的页码
          schema:
            type: integer
            format: int32
            default: 1
        - name: per_page
          in: query
          description: 每页的数量，最大为 100
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 20
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Note"
        "404":
          description: 没有相关数据
          content: {}
  /v5/repos/{owner}/{repo}/comments/{id}:
    get:
      tags:
        - Repositories
      summary: 获取仓库的某条 Commit 评论
      description: 获取仓库的某条 Commit 评论
      operationId: getV5ReposOwnerRepoCommentsId
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: 评论的 ID
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Note"
        "404":
          description: 没有相关数据
          content: {}
    delete:
      tags:
        - Repositories
      summary: 删除 Commit 评论
      description: 删除 Commit 评论
      operationId: deleteV5ReposOwnerRepoCommentsId
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: 评论的 ID
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "204":
          description: 删除 Commit 评论
          content: {}
    patch:
      tags:
        - Repositories
      summary: 更新 Commit 评论
      description: 更新 Commit 评论
      operationId: patchV5ReposOwnerRepoCommentsId
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: 评论的 ID
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - body
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
                body:
                  type: string
                  description: 评论的内容
        required: true
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Note"
        "404":
          description: 没有相关数据
          content: {}
  /v5/repos/{owner}/{repo}/commits/{sha}/comments:
    post:
      tags:
        - Repositories
      summary: 创建 Commit 评论
      description: 创建 Commit 评论
      operationId: postV5ReposOwnerRepoCommitsShaComments
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: sha
          in: path
          description: 评论的 sha 值
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - body
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
                body:
                  type: string
                  description: 评论的内容
                path:
                  type: string
                  description: 文件的相对路径
                position:
                  type: integer
                  description: Diff 的相对行数
                  format: int32
        required: true
      responses:
        "201":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Note"
        "404":
          description: 没有相关数据
          content: {}
  /v5/repos/{owner}/{repo}/issues/comments:
    get:
      tags:
        - Issues
      summary: 获取仓库所有 Issue 的评论
      description: 获取仓库所有 Issue 的评论
      operationId: getV5ReposOwnerRepoIssuesComments
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: sort
          in: query
          description: "Either created or updated. Default: created"
          schema:
            type: string
            default: created
            enum:
              - created
              - updated
        - name: direction
          in: query
          description: Either asc or desc. Ignored without the sort parameter.
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
        - name: since
          in: query
          description: |-
            Only comments updated at or after this time are returned.
                                                                                                        This is a timestamp in ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ
          schema:
            type: string
        - name: page
          in: query
          description: 当前的页码
          schema:
            type: integer
            format: int32
            default: 1
        - name: per_page
          in: query
          description: 每页的数量，最大为 100
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 20
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Note"
  /v5/repos/{owner}/{repo}/issues/{number}/comments:
    get:
      tags:
        - Issues
      summary: 获取仓库某个 Issue 所有的评论
      description: 获取仓库某个 Issue 所有的评论
      operationId: getV5ReposOwnerRepoIssuesNumberComments
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: number
          in: path
          description: "Issue 编号 (区分大小写，无需添加 # 号)"
          required: true
          schema:
            type: string
        - name: since
          in: query
          description: |-
            Only comments updated at or after this time are returned.
                                                                                                        This is a timestamp in ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ
          schema:
            type: string
        - name: page
          in: query
          description: 当前的页码
          schema:
            type: integer
            format: int32
            default: 1
        - name: per_page
          in: query
          description: 每页的数量，最大为 100
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 20
        - name: order
          in: query
          description: "排序顺序：asc(default),desc"
          schema:
            type: string
            default: asc
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Note"
        "404":
          description: 没有相关数据
          content: {}
    post:
      tags:
        - Issues
      summary: 创建某个 Issue 评论
      description: 创建某个 Issue 评论
      operationId: postV5ReposOwnerRepoIssuesNumberComments
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: number
          in: path
          description: "Issue 编号 (区分大小写，无需添加 # 号)"
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - body
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
                body:
                  type: string
                  description: The contents of the comment.
        required: true
      responses:
        "201":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Note"
  /v5/repos/{owner}/{repo}/issues/comments/{id}:
    get:
      tags:
        - Issues
      summary: 获取仓库 Issue 某条评论
      description: 获取仓库 Issue 某条评论
      operationId: getV5ReposOwnerRepoIssuesCommentsId
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: 评论的 ID
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Note"
        "404":
          description: 没有相关数据
          content: {}
    delete:
      tags:
        - Issues
      summary: 删除 Issue 某条评论
      description: 删除 Issue 某条评论
      operationId: deleteV5ReposOwnerRepoIssuesCommentsId
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: 评论的 ID
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "204":
          description: 删除 Issue 某条评论
          content: {}
    patch:
      tags:
        - Issues
      summary: 更新 Issue 某条评论
      description: 更新 Issue 某条评论
      operationId: patchV5ReposOwnerRepoIssuesCommentsId
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: 评论的 ID
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - body
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
                body:
                  type: string
                  description: The contents of the comment.
        required: true
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Note"
  /v5/repos/{owner}/{repo}/commits:
    get:
      tags:
        - Repositories
      summary: 仓库的所有提交
      description: 仓库的所有提交
      operationId: getV5ReposOwnerRepoCommits
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: sha
          in: query
          description: 提交起始的 SHA 值或者分支名。默认：仓库的默认分支
          schema:
            type: string
        - name: path
          in: query
          description: 包含该文件的提交
          schema:
            type: string
        - name: author
          in: query
          description: 提交作者的邮箱或个人空间地址 (username/login)
          schema:
            type: string
        - name: since
          in: query
          description: 提交的起始时间，时间格式为 ISO 8601
          schema:
            type: string
        - name: until
          in: query
          description: 提交的最后时间，时间格式为 ISO 8601
          schema:
            type: string
        - name: page
          in: query
          description: 当前的页码
          schema:
            type: integer
            format: int32
            default: 1
        - name: per_page
          in: query
          description: 每页的数量，最大为 100
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 20
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RepoCommit"
    post:
      tags:
        - Repositories
      summary: 提交多个文件变更
      description: 提交多个文件变更
      operationId: postV5ReposOwnerRepoCommits
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/postV5ReposOwnerRepoCommits"
        required: true
      responses:
        "201":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RepoCommitWithFiles"
      x-codegen-request-body-name: V5ReposOwnerRepoCommits
  /v5/repos/{owner}/{repo}/commits/{sha}:
    get:
      tags:
        - Repositories
      summary: 仓库的某个提交
      description: 仓库的某个提交
      operationId: getV5ReposOwnerRepoCommitsSha
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: sha
          in: path
          description: 提交的 SHA 值或者分支名
          required: true
          schema:
            type: string
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RepoCommitWithFiles"
  /v5/repos/{owner}/{repo}/compare/{base}...{head}:
    get:
      tags:
        - Repositories
      summary: Commits 对比
      description: |-
        Commits 对比
         返回的 commits 数量限制在 100 以内
      operationId: getV5ReposOwnerRepoCompareBase...Head
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: base
          in: path
          description: 对比的起点。Commit SHA、分支名或标签名
          required: true
          schema:
            type: string
        - name: head
          in: path
          description: 对比的终点。Commit SHA、分支名或标签名
          required: true
          schema:
            type: string
        - name: straight
          in: query
          description: 是否直对比。默认 false
          schema:
            type: boolean
        - name: suffix
          in: query
          description: 按照文件后缀过滤文件，如 `.txt`。只影响 `files`
          schema:
            type: string
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Compare"
  /v5/repos/{owner}/{repo}/keys:
    get:
      tags:
        - Repositories
      summary: 获取仓库已部署的公钥
      description: 获取仓库已部署的公钥
      operationId: getV5ReposOwnerRepoKeys
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: 当前的页码
          schema:
            type: integer
            format: int32
            default: 1
        - name: per_page
          in: query
          description: 每页的数量，最大为 100
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 20
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SSHKey"
    post:
      tags:
        - Repositories
      summary: 为仓库添加公钥
      description: 为仓库添加公钥
      operationId: postV5ReposOwnerRepoKeys
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - key
                - title
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
                key:
                  type: string
                  description: 公钥内容
                title:
                  type: string
                  description: 公钥名称
        required: true
      responses:
        "201":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSHKey"
  /v5/repos/{owner}/{repo}/keys/available:
    get:
      tags:
        - Repositories
      summary: 获取仓库可部署的公钥
      description: 获取仓库可部署的公钥
      operationId: getV5ReposOwnerRepoKeysAvailable
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: 当前的页码
          schema:
            type: integer
            format: int32
            default: 1
        - name: per_page
          in: query
          description: 每页的数量，最大为 100
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 20
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SSHKeyBasic"
  /v5/repos/{owner}/{repo}/keys/enable/{id}:
    put:
      tags:
        - Repositories
      summary: 启用仓库公钥
      description: 启用仓库公钥
      operationId: putV5ReposOwnerRepoKeysEnableId
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: 公钥 ID
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
      responses:
        "204":
          description: 已启用
          content: {}
        "403":
          description: 没有启用权限
          content: {}
    delete:
      tags:
        - Repositories
      summary: 停用仓库公钥
      description: 停用仓库公钥
      operationId: deleteV5ReposOwnerRepoKeysEnableId
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: 公钥 ID
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "204":
          description: 已停用
          content: {}
        "404":
          description: 没有相关公钥
          content: {}
  /v5/repos/{owner}/{repo}/keys/{id}:
    get:
      tags:
        - Repositories
      summary: 获取仓库的单个公钥
      description: 获取仓库的单个公钥
      operationId: getV5ReposOwnerRepoKeysId
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: 公钥 ID
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSHKey"
    delete:
      tags:
        - Repositories
      summary: 删除一个仓库公钥
      description: 删除一个仓库公钥
      operationId: deleteV5ReposOwnerRepoKeysId
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: 公钥 ID
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "204":
          description: 删除一个仓库公钥
          content: {}
  /v5/repos/{owner}/{repo}/readme:
    get:
      tags:
        - Repositories
      summary: 获取仓库 README
      description: 获取仓库 README
      operationId: getV5ReposOwnerRepoReadme
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: ref
          in: query
          description: 分支、tag 或 commit。默认：仓库的默认分支 (通常是 master)
          schema:
            type: string
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Content"
  /v5/repos/{owner}/{repo}/contents(/{path}):
    get:
      tags:
        - Repositories
      summary: 获取仓库具体路径下的内容
      description: 获取仓库具体路径下的内容
      operationId: getV5ReposOwnerRepoContents(Path)
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: path
          in: path
          description: 文件的路径
          required: true
          schema:
            type: string
        - name: ref
          in: query
          description: 分支、tag 或 commit。默认：仓库的默认分支 (通常是 master)
          schema:
            type: string
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Content"
  /v5/repos/{owner}/{repo}/contents/{path}:
    put:
      tags:
        - Repositories
      summary: 更新文件
      description: 更新文件
      operationId: putV5ReposOwnerRepoContentsPath
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: path
          in: path
          description: 文件的路径
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - content
                - message
                - sha
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
                content:
                  type: string
                  description: 文件内容，要用 base64 编码
                sha:
                  type: string
                  description: "文件的 Blob SHA，可通过 [获取仓库具体路径下的内容] API 获取"
                message:
                  type: string
                  description: 提交信息
                branch:
                  type: string
                  description: 分支名称。默认为仓库对默认分支
                committer[name]:
                  type: string
                  description: Committer 的名字，默认为当前用户的名字
                committer[email]:
                  type: string
                  description: Committer 的邮箱，默认为当前用户的邮箱
                author[name]:
                  type: string
                  description: Author 的名字，默认为当前用户的名字
                author[email]:
                  type: string
                  description: Author 的邮箱，默认为当前用户的邮箱
        required: true
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommitContent"
    post:
      tags:
        - Repositories
      summary: 新建文件
      description: 新建文件
      operationId: postV5ReposOwnerRepoContentsPath
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: path
          in: path
          description: 文件的路径
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - content
                - message
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
                content:
                  type: string
                  description: 文件内容，要用 base64 编码
                message:
                  type: string
                  description: 提交信息
                branch:
                  type: string
                  description: 分支名称。默认为仓库对默认分支
                committer[name]:
                  type: string
                  description: Committer 的名字，默认为当前用户的名字
                committer[email]:
                  type: string
                  description: Committer 的邮箱，默认为当前用户的邮箱
                author[name]:
                  type: string
                  description: Author 的名字，默认为当前用户的名字
                author[email]:
                  type: string
                  description: Author 的邮箱，默认为当前用户的邮箱
        required: true
      responses:
        "201":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommitContent"
    delete:
      tags:
        - Repositories
      summary: 删除文件
      description: 删除文件
      operationId: deleteV5ReposOwnerRepoContentsPath
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: path
          in: path
          description: 文件的路径
          required: true
          schema:
            type: string
        - name: sha
          in: query
          description: "文件的 Blob SHA，可通过 [获取仓库具体路径下的内容] API 获取"
          required: true
          schema:
            type: string
        - name: message
          in: query
          description: 提交信息
          required: true
          schema:
            type: string
        - name: branch
          in: query
          description: 分支名称。默认为仓库对默认分支
          schema:
            type: string
        - name: "committer[name]"
          in: query
          description: Committer 的名字，默认为当前用户的名字
          schema:
            type: string
        - name: "committer[email]"
          in: query
          description: Committer 的邮箱，默认为当前用户的邮箱
          schema:
            type: string
        - name: "author[name]"
          in: query
          description: Author 的名字，默认为当前用户的名字
          schema:
            type: string
        - name: "author[email]"
          in: query
          description: Author 的邮箱，默认为当前用户的邮箱
          schema:
            type: string
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommitContent"
  /v5/repos/{owner}/{repo}/blame/{path}:
    get:
      tags:
        - Repositories
      summary: Blame
      description: Blame
      operationId: getV5ReposOwnerRepoBlamePath
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: path
          in: path
          description: 文件的路径（1 MB 以内的文件文件）
          required: true
          schema:
            type: string
        - name: ref
          in: query
          description: 分支、tag 或 commit。默认：仓库的默认分支（通常是 master）
          schema:
            type: string
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Blame"
  /v5/repos/{owner}/{repo}/raw/{path}:
    get:
      tags:
        - Repositories
      summary: 获取 raw 文件（100MB 以内）
      description: 获取 raw 文件（100MB 以内）
      operationId: getV5ReposOwnerRepoRawPath
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: path
          in: path
          description: 文件的路径
          required: true
          schema:
            type: string
        - name: ref
          in: query
          description: 分支、tag 或 commit。默认：仓库的默认分支（通常是 master）
          schema:
            type: string
      responses:
        "200":
          description: 获取 raw 文件（100MB 以内）
          content: {}
  /v5/repos/{owner}/{repo}/zipball:
    get:
      tags:
        - Repositories
      summary: 下载仓库 zip
      description: 下载仓库 zip
      operationId: getV5ReposOwnerRepoZipball
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: ref
          in: query
          description: 分支、tag 或 commit。默认：仓库的默认分支 (通常是 master)
          schema:
            type: string
      responses:
        "200":
          description: 下载仓库 zip
          content: {}
  /v5/repos/{owner}/{repo}/tarball:
    get:
      tags:
        - Repositories
      summary: 下载仓库 tar.gz
      description: 下载仓库 tar.gz
      operationId: getV5ReposOwnerRepoTarball
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: ref
          in: query
          description: 分支、tag 或 commit。默认：仓库的默认分支 (通常是 master)
          schema:
            type: string
      responses:
        "200":
          description: 下载仓库 tar.gz
          content: {}
  /v5/repos/{owner}/{repo}/git/blobs/{sha}:
    get:
      tags:
        - Git Data
      summary: 获取文件 Blob
      description: 获取文件 Blob
      operationId: getV5ReposOwnerRepoGitBlobsSha
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: sha
          in: path
          description: "文件的 Blob SHA，可通过 [获取仓库具体路径下的内容] API 获取"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Blob"
        "404":
          description: 没有相关数据
          content: {}
  /v5/repos/{owner}/{repo}/git/trees/{sha}:
    get:
      tags:
        - Git Data
      summary: 获取目录 Tree
      description: 获取目录 Tree
      operationId: getV5ReposOwnerRepoGitTreesSha
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: sha
          in: path
          description: 可以是分支名 (如 master)、Commit 或者目录 Tree 的 SHA 值
          required: true
          schema:
            type: string
        - name: recursive
          in: query
          description: 赋值为 1 递归获取目录
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tree"
        "404":
          description: 没有相关数据
          content: {}
        "422":
          description: SHA 值必须为 Commit 或 Tree 的
          content: {}
  /v5/repos/{owner}/{repo}/git/gitee_metrics:
    get:
      tags:
        - Git Data
      summary: 获取 Gitee 指数
      description: 获取 Gitee 指数
      operationId: getV5ReposOwnerRepoGitGiteeMetrics
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GiteeMetrics"
        "404":
          description: 没有相关数据
          content: {}
  /v5/repos/{owner}/{repo}/issues:
    get:
      tags:
        - Issues
      summary: 仓库的所有 Issues
      description: 仓库的所有 Issues
      operationId: getV5ReposOwnerRepoIssues
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: state
          in: query
          description: "Issue 的状态：open（开启的）, progressing(进行中), closed（关闭的）, rejected（\
            拒绝的）。默认：open"
          schema:
            type: string
            default: open
            enum:
              - open
              - progressing
              - closed
              - rejected
              - all
        - name: labels
          in: query
          description: "用逗号分开的标签。如：bug,performance"
          schema:
            type: string
        - name: sort
          in: query
          description: 排序依据：创建时间 (created)，更新时间 (updated_at)。默认：created_at
          schema:
            type: string
            default: created
            enum:
              - created
              - updated
        - name: direction
          in: query
          description: 排序方式：升序 (asc)，降序 (desc)。默认：desc
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
        - name: since
          in: query
          description: 起始的更新时间，要求时间格式为 ISO 8601
          schema:
            type: string
        - name: page
          in: query
          description: 当前的页码
          schema:
            type: integer
            format: int32
            default: 1
        - name: per_page
          in: query
          description: 每页的数量，最大为 100
          schema:
            maximum: 100
            minimum: 1
            type: integer
            format: int32
            default: 20
        - name: schedule
          in: query
          description: 计划开始日期，格式：20181006T173008+80-20181007T173008+80（区间），或者 -20181007T173008+80（小于
            20181007T173008+80），或者 20181006T173008+80-（大于 20181006T173008+80），要求时间格式为
            20181006T173008+80
          schema:
            type: string
        - name: deadline
          in: query
          description: 计划截止日期，格式同上
          schema:
            type: string
        - name: created_at
          in: query
          description: 任务创建时间，格式同上
          schema:
            type: string
        - name: finished_at
          in: query
          description: 任务完成时间，即任务最后一次转为已完成状态的时间点。格式同上
          schema:
            type: string
        - name: milestone
          in: query
          description: 根据里程碑标题。none 为没里程碑的，*为所有带里程碑的
          schema:
            type: string
        - name: assignee
          in: query
          description: 用户的 username。none 为没指派者，*为所有带有指派者的
          schema:
            type: string
        - name: creator
          in: query
          description: 创建 Issues 的用户 username
          schema:
            type: string
        - name: program
          in: query
          description: 所属项目名称。none 为没有所属项目，*为所有带所属项目的
          schema:
            type: string
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Issue"
  /v5/repos/{owner}/{repo}/issues/{number}:
    get:
      tags:
        - Issues
      summary: 仓库的某个 Issue
      description: 仓库的某个 Issue
      operationId: getV5ReposOwnerRepoIssuesNumber
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: number
          in: path
          description: "Issue 编号 (区分大小写，无需添加 # 号)"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Issue"
  /v5/repos/{owner}/issues:
    post:
      tags:
        - Issues
      summary: 创建 Issue
      description: 创建 Issue
      operationId: postV5ReposOwnerIssues
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - title
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
                repo:
                  type: string
                  description: 仓库路径 (path)
                title:
                  type: string
                  description: Issue 标题
                issue_type:
                  type: string
                  description: 企业自定义任务类型，非企业默认任务类型为“任务”
                body:
                  type: string
                  description: Issue 描述
                assignee:
                  type: string
                  description: Issue 负责人的个人空间地址
                collaborators:
                  type: string
                  description: "Issue 协助者的个人空间地址，以 , 分隔"
                milestone:
                  type: integer
                  description: 里程碑序号
                  format: int32
                labels:
                  type: string
                  description: "用逗号分开的标签，名称要求长度在 2-20 之间且非特殊字符。如：bug,performance"
                program:
                  type: string
                  description: 项目 ID
                security_hole:
                  type: boolean
                  description: 是否是私有 issue(默认为 false)
        required: true
      responses:
        "201":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Issue"
  /v5/repos/{owner}/issues/{number}:
    patch:
      tags:
        - Issues
      summary: 更新 Issue
      description: 更新 Issue
      operationId: patchV5ReposOwnerIssuesNumber
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: number
          in: path
          description: "Issue 编号 (区分大小写，无需添加 # 号)"
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
                repo:
                  type: string
                  description: 仓库路径 (path)
                title:
                  type: string
                  description: Issue 标题
                state:
                  type: string
                  description: Issue 状态，open（开启的）、progressing（进行中）、closed（关闭的）
                  enum:
                    - open
                    - progressing
                    - closed
                body:
                  type: string
                  description: Issue 描述
                assignee:
                  type: string
                  description: Issue 负责人的个人空间地址
                collaborators:
                  type: string
                  description: "Issue 协助者的个人空间地址，以 , 分隔"
                milestone:
                  type: integer
                  description: 里程碑序号
                  format: int32
                labels:
                  type: string
                  description: "用逗号分开的标签，名称要求长度在 2-20 之间且非特殊字符。如：bug,performance"
                program:
                  type: string
                  description: 项目 ID
                security_hole:
                  type: boolean
                  description: 是否是私有 issue(默认为 false)
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Issue"
  /v5/repos/{owner}/issues/{number}/pull_requests:
    get:
      tags:
        - Issues
      summary: 获取 issue 关联的 Pull Requests
      description: 获取 issue 关联的 Pull Requests
      operationId: getV5ReposOwnerIssuesNumberPullRequests
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: query
          description: 仓库路径 (path)
          schema:
            type: string
        - name: number
          in: path
          description: "Issue 编号 (区分大小写，无需添加 # 号)"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PullRequest"
  /v5/repos/{owner}/issues/{number}/operate_logs:
    get:
      tags:
        - Issues
      summary: 获取某个 Issue 下的操作日志
      description: 获取某个 Issue 下的操作日志
      operationId: getV5ReposOwnerIssuesNumberOperateLogs
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: query
          description: 仓库路径 (path)
          schema:
            type: string
        - name: number
          in: path
          description: "Issue 编号 (区分大小写，无需添加 # 号)"
          required: true
          schema:
            type: string
        - name: sort
          in: query
          description: 按递增 (asc) 或递减 (desc) 排序，默认：递减
          schema:
            type: string
            default: desc
            enum:
              - desc
              - asc
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OperateLog"
  /v5/repos/{owner}/{repo}/labels:
    get:
      tags:
        - Labels
      summary: 获取仓库所有任务标签
      description: 获取仓库所有任务标签
      operationId: getV5ReposOwnerRepoLabels
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Label"
    post:
      tags:
        - Labels
      summary: 创建仓库任务标签
      description: 创建仓库任务标签
      operationId: postV5ReposOwnerRepoLabels
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - color
                - name
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
                name:
                  type: string
                  description: 标签名称
                color:
                  type: string
                  description: 标签颜色。为 6 位的数字，如：000000
        required: true
      responses:
        "201":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Label"
  /v5/repos/{owner}/{repo}/labels/{name}:
    get:
      tags:
        - Labels
      summary: 根据标签名称获取单个标签
      description: 根据标签名称获取单个标签
      operationId: getV5ReposOwnerRepoLabelsName
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: 标签名称
          required: true
          schema:
            type: string
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Label"
    delete:
      tags:
        - Labels
      summary: 删除一个仓库任务标签
      description: 删除一个仓库任务标签
      operationId: deleteV5ReposOwnerRepoLabelsName
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: 标签名称
          required: true
          schema:
            type: string
      responses:
        "204":
          description: 删除一个仓库任务标签
          content: {}
  /v5/repos/{owner}/{repo}/labels/{original_name}:
    patch:
      tags:
        - Labels
      summary: 更新一个仓库任务标签
      description: 更新一个仓库任务标签
      operationId: patchV5ReposOwnerRepoLabelsOriginalName
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: original_name
          in: path
          description: 标签原有名称
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
                name:
                  type: string
                  description: 标签新名称
                color:
                  type: string
                  description: 标签新颜色
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Label"
  /v5/repos/{owner}/{repo}/issues/{number}/labels:
    get:
      tags:
        - Labels
      summary: 获取仓库任务的所有标签
      description: 获取仓库任务的所有标签
      operationId: getV5ReposOwnerRepoIssuesNumberLabels
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: number
          in: path
          description: "Issue 编号 (区分大小写，无需添加 # 号)"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Label"
    put:
      tags:
        - Labels
      summary: 替换 Issue 所有标签
      description: |-
        替换 Issue 所有标签
         需要在请求的 body 里填上数组，元素为标签的名字。如：["performance", "bug"]
      operationId: putV5ReposOwnerRepoIssuesNumberLabels
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: number
          in: path
          description: "Issue 编号 (区分大小写，无需添加 # 号)"
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Label"
      x-codegen-request-body-name: body
    post:
      tags:
        - Labels
      summary: 创建 Issue 标签
      description: |-
        创建 Issue 标签
         需要在请求的 body 里填上数组，元素为标签的名字。如：["performance", "bug"]
      operationId: postV5ReposOwnerRepoIssuesNumberLabels
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: number
          in: path
          description: "Issue 编号 (区分大小写，无需添加 # 号)"
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
      responses:
        "201":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Label"
      x-codegen-request-body-name: body
    delete:
      tags:
        - Labels
      summary: 删除 Issue 所有标签
      description: 删除 Issue 所有标签
      operationId: deleteV5ReposOwnerRepoIssuesNumberLabels
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: number
          in: path
          description: "Issue 编号 (区分大小写，无需添加 # 号)"
          required: true
          schema:
            type: string
      responses:
        "204":
          description: 删除 Issue 所有标签
          content: {}
  /v5/repos/{owner}/{repo}/issues/{number}/labels/{name}:
    delete:
      tags:
        - Labels
      summary: 删除 Issue 标签
      description: 删除 Issue 标签
      operationId: deleteV5ReposOwnerRepoIssuesNumberLabelsName
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
        - name: number
          in: path
          description: "Issue 编号 (区分大小写，无需添加 # 号)"
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: "标签名称 (批量删除用英文逗号分隔，如：bug,feature)"
          required: true
          schema:
            type: string
      responses:
        "204":
          description: 删除 Issue 标签
          content: {}
  /v5/repos/{owner}/{repo}/project_labels:
    get:
      tags:
        - Labels
      summary: 获取仓库所有标签
      description: 获取仓库所有标签
      operationId: getV5ReposOwnerRepoProjectLabels
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProjectLabel"
    put:
      tags:
        - Labels
      summary: 替换所有仓库标签
      description: 替换所有仓库标签
      operationId: putV5ReposOwnerRepoProjectLabels
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
      responses:
        "200":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProjectLabel"
      x-codegen-request-body-name: body
    post:
      tags:
        - Labels
      summary: 添加仓库标签
      description: 添加仓库标签
      operationId: postV5ReposOwnerRepoProjectLabels
      parameters:
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
            type: string
        - name: repo
          in: path
          description: 仓库路径 (path)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                  description: 用户授权码
      responses:
        "201":
          description: 返回格式
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProjectLabel"
      x-codegen-request-body-name: body
    delete:
      tags:
        - Labels
      summary: 删除仓库标签
      description: 删除仓库标签
      operationId: deleteV5ReposOwnerRepoProjectLabels
      parameters:
        - name: access_token
          in: query
          description: 用户授权码
          schema:
            type: string
        - name: owner
          in: path
          description: 仓库所属空间地址 (企业、组织或个人的地址 path)
          required: true
          schema:
[...]
